<a href="https://colab.research.google.com/github/artisticdrake/Fmml-Assignments/blob/main/CONUNCON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.read_csv(r'mycsv.csv')
df.head(10)

   Income recreation         job   status       age home      risk
0  medium     skiing      design   single  twenties   no  highrisk
1    high       golf     trading  married   forties  yes   lowrisk
2     low   speedway   transport  married  thirties  yes   medrisk
3  medium   football     banking   single  thirties  yes   lowrisk
4    high     flying       media  married   fifties  yes  highrisk
5     low   football    security   single  twenties   no   medrisk
6  medium       golf       media   single  thirties  yes   medrisk
7  medium       golf   transport  married   forties  yes   lowrisk
8    high     skiing     banking   single  thirties  yes  highrisk
9     low       golf  unemployed  married   forties  yes  highrisk

In [18]:

ch=int(input("Choose\n1. Conditional Probability\n2. Unconditional Probability\n"))
if(ch==1):
  con()
elif(ch==2):
  uncon()
else:
  print("Invalid choice\n")

Choose
1. Conditional Probability
2. Unconditional Probability
2
Income
recreation
job
status
age
home
risk
Select the index of the column required
1
['speedway', 'flying', 'football', 'skiing', 'golf']
Enter the index of required item
4
The unconditional probability of  golf  is:  0.4

In [17]:
def uncon():
  for i in df:
   print(i)
  col=int(input("Select the index of the column required\n"))
  nl=[]
  for i in range(len(df)):
    nl.append(df.iloc[i,col])
  nl=list(set(nl))
  print(nl)
  val=int(input("Enter the index of required item\n"))
  c=0
  for i in range(len(df)):
    if(df.iloc[i,col]==nl[val]):
      c+=1
  pa=c/len(df)
  print("The unconditional probability of ",nl[val]," is: ",pa)

In [ ]:
def con():
  pass